@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    left: 10%
    width: 15%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 10%
    width: 23%
  &-5
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    left: 75%
    width: 12%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 50% 
  @media only screen and (max-width: 1023px)
    width: 100%

.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  width: 33%
    
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #365168
.barra-avance__boton--regresar span 
    color: white !important

figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #DBDCE1 !important

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #85461A
  background-color: #D9E5EF

.cen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto


.bloque-texto-g.color-secundario
  background-color: #365168
  border-radius: 0px 0px 100px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 63%
    border-radius: 0px 0px 60px 0px
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px

.cajon.color-acento-botones
  background-color: #F9F4F0
  &:before 
    background-color: #85461A

.bg1
  background-color:#DFC5B4

.bg2
  background-color:#F9F7F0

.bg3
  background-color:#F9F4F0

.bg4
  background-color: #F9F7F0
  border-radius: 20px

.bgw
  background-color: white
  border-radius: 20px

.tit
  background-color: #C9B1A2
  border-radius: 50px 0px 40px 20px
  width: fit-content
  padding: 8px 20px 8px 75px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 0px
  & 
    h3
      color: #12263F
.tit img
  width: 63px
  height: 63px
  position: absolute
  top: 90%
  left: 0px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    top: 85%
  @media only screen and (max-width: 767px)
    top: 85%
    width: 55px
    height: 55px

@media only screen and (min-width: 768px) and (max-width: 1023px)
  .p-5.fon
    padding: 2.5rem !important
@media only screen and (max-width: 767px)
  .p-5.fon
    padding: 1.1rem !important
.fondo1
  background: url('../assets/curso/tema1/fd1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
    background-size:  100% 100%
.linea-tiempo-c__header__btn, .pasos-b__header__btn--left, .pasos-b__header__btn--right, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right 
  background-color: #85461A
.linea-tiempo-c__header__btn i, .pasos-b__header__btn--left i, .pasos-b__header__btn--right i, .linea-tiempo-c__header__btn--left i, .linea-tiempo-c__header__btn--right i 
  color: white
.pasos-b__header__item--before .pasos-b__header__item__dot 
  border-color: #838487
  background-color: #838487
.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after 
  background-color: #838487
.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
  background-color: #838487
.pasos-b.color-acento-contenido .pasos-b__header__item--active .pasos-b__header__item__dot 
  border-color: #85461A
  background-color: #85461A
.pasos-b.color-acento-contenido .pasos-b__header__item--active .pasos-b__header__item__dot span 
    color: #D9E5EF
.pasos-b__header__item__dot 
  border: 3px solid #144567

.cajon.color-acento-b
  background-color: #D9E5EF
  &:before 
    background-color: #85461A

.acordion__accion__btn--a
  background-color: #85461A
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azull
  background-color: #DFC5B4
  h3
    color: black
.acordion__accion__btn--a i, .acordion__accion__btn--b i .activ
  color: white
.acordion.activ .acordion__activo .acordion__accion__btn--a
  background-color: #85461A
  i
    color: white !important
.activ
  .acordion__activo 
    background-color: #D9E5EF !important
    transition: all 0.3s ease-out
    h3
      color: black 

.bloque-texto-g.color-acento-contenido 
  background-color: #DFC5B4
  border-radius: 0px 0px 0px 100px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 63%
    border-radius: 0px 0px 0px 60px
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px

.bg5
  background-color:#FFF9F2
  @media only screen and (min-width: 1024px) 
    margin-left: -3.4rem
  @media (min-width: 992px) 
    .mx-lg-4 
      margin-right: 1.5rem !important
      margin-left: 2rem !important

.bloque-texto-g.color-acento-botones
  background-color: #85461A
  border-radius: 0px 0px 100px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 63%
    border-radius: 0px 0px 60px 0px
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px


//////////////////////////////////////TABLAS////////////////////////////////////

.tabla-a thead 
  border-top: 6px solid #85461A
  color: black
  background-color: #D9E5EF
.tabla-a th
  border-color: #D9E5EF
.tabla-a
  table
    width: 100%
    th, td
      vertical-align: top
      text-align: left
      //border: none
  table th
    padding: 16px 15px
    text-align: left
  table td 
    padding: 15px 15px
  tbody
    td:first-child
      font-weight: bold

.tabla-a.tab1
  th:nth-child(1)
    width: 22%
  th:nth-child(2)
    width: 38%
  th:nth-child(3)
    width: 40%

.tabla-a.tab2
  th:nth-child(1)
    width: 19%
  th:nth-child(2)
    width: 27%
  th:nth-child(3)
    width: 27%
  th:nth-child(4)
    width: 27%

.tabla-a.tab4
  table th
    padding: 19px 15px
    text-align: left
  table td 
    padding: 19px 15px
  th:nth-child(1)
    width: 22%
  th:nth-child(2)
    width: 38%
  th:nth-child(3)
    width: 40%

.tabla-a.tab5
  table th
    padding: 16px 15px
    text-align: left
  table td 
    padding: 17px 15px
  th:nth-child(1)
    width: 22%
  th:nth-child(2)
    width: 38%
  th:nth-child(3)
    width: 40%

.tabla-a.tab11
  table th
    padding: 16px 15px
    text-align: left
  table td 
    padding: 18px 15px
  th:nth-child(1)
    width: 20%
  th:nth-child(2)
    width: 22%
  th:nth-child(3)
    width: 18%
  th:nth-child(4)
    width: 40%

.tabla-a.tab12
  table th
    padding: 16px 15px
    text-align: left
  table td 
    padding: 13px 15px
  th:nth-child(1)
    width: 20%
  th:nth-child(2)
    width: 40%
  th:nth-child(3)
    width: 40%

.tabla-a.tab13
  table th
    padding: 16px 15px
    text-align: left
  table td 
    padding: 14px 15px
  th:nth-child(1)
    width: 20%
  th:nth-child(2)
    width: 40%
  th:nth-child(3)
    width: 40%

.tabla-a.tab15
  table th
    padding: 20px 15px
    text-align: left
  table td 
    padding: 19.5px 15px
  th:nth-child(1)
    width: 22%
  th:nth-child(2)
    width: 39%
  th:nth-child(3)
    width: 39%

.tabla-a.tab16
  table th
    padding: 17px 15px
    text-align: left
  table td 
    padding: 17px 15px
  th:nth-child(1)
    width: 22%
  th:nth-child(2)
    width: 39%
  th:nth-child(3)
    width: 39%